/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

body {
    margin: 0;
    padding: 0;
    background-color: #010A13;
}
h1 {
    font-family: BeaufortBold;
    font-size: 400%;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    color: #C89B3C;
    text-align: center;
    margin-top: 5%;
}
.formctn {
    background-color: #5B5A5675;
    margin: 2.5% 5%;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2.5% 5%;
    justify-content: space-around;
}
label {
    font-family: Beaufort;
    font-weight: bold;
    font-size: 175%;
    font-style: italic;
    text-transform: capitalize;
    color: #C89B3C;
}
.userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
input {
    flex: 50%;
}

input:focus, textarea:focus {
    outline: 3px solid #C89B3C;
}
input::placeholder, textarea::placeholder {
    font-family: Spiegel;
    font-size: 125%;
    color: #A09B8C;
    background-color: #F0E6D2;  
    margin: 1% 2.5%;
    border-radius: 5px;
    height: fit-content;
}
input, textarea {
    font-family: Spiegel;
    font-size: 125%;
    font-style: italic;
    color: black;
    background-color: #F0E6D2;
    padding: 10px;
    margin: 1% 2.5%;
    border-radius: 5px;
    height: fit-content;
}
#messagelabel {
    margin-top: 50px;
}
textarea {
    margin-top: 25px;
    min-height: 200px;
    max-width: 100%;
}

button {
    font-family: Beaufort;
    font-weight: bold;
    font-size: 125%;
    text-transform: uppercase;
    align-self: center;
    background-color: #F0E6D2;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
    transition: .15s;
}

button:hover {
    background-color: #C89B3C;
}

#sent {
    font-family: Spiegel;
    font-size: 1.25rem;
    color: #F0E6D2;
    margin: 5px auto;
    height: 1.25rem;
}