/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(Assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(Assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(Assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

footer {
    display: flex;
    flex-direction: row;
    align-self: last baseline;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #282828;
    padding: 2em 0;
    z-index: 2;
}
.logos, .rights, .links {
    display: flex;
    flex: 30%;
    width: 100%;
    margin: 1em;
}
.logos {
    flex-direction: row;
    align-items: center;
}
.logos div {
    width: 80%;
    flex: 50%;
    text-align: center;
}
.logos img {
    max-width: 50%;
}

.rights {
    flex-direction: column;
    text-align: center;
    color: #C89B3C;
}
.rights h3 {
    font-family: Beaufort;
    font-weight: 800;
    font-style: italic;
    font-size: 1.25rem;
    text-transform: uppercase;
}
.rights p {
    font-family: Spiegel;
    font-size: 1rem;
    text-transform: capitalize;
}

.links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.links div {
    width: 100%;
    text-align: center;
}
.links a {
    color: #C89B3C;
    font-family: Spiegel;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: .15s;
}

/*on hover*/
.links a:hover {
    color: #F0E6D2;
}


/*adjust the ui based on screen width*/

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }
    .logos, .rights{
        flex-direction: column;
        margin: 1em 0;
        align-items: center;
    }
    .logos {
        order: 1;
        width: 50%;
    }
    .links {
        order: 2;
        margin-bottom: 10%;
    }
    .logos img {
        width: 100%;
    }
    .links div {
        margin: 1em 0;
    }
    .links a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) {
    footer {
        flex-direction: column;
    }
    .rights {
        margin: 0;
    }
    .logos {
        order: 1;
        width: 60%;
    }
    .links {
        order: 2;
        margin-bottom: 10%;
    }
    .logos img {
        width: 35%;
    }
    .links div {
        margin: 1em 0;
    }
    .links a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1280px) {
    .logos img {
        width: 50%;
    }
    .links a {
        font-size: 1rem;
    }
}