/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(Assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(Assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(Assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

header {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #282828;
    z-index: 3;
}

header .btnctn {
    flex: 95%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em auto;
}
header .logoctn {
    flex: 5%;
    width: fit-content;
    align-items: center;
    margin: 1em auto;
}
header .logoctn img {
    width: 5em;
    margin: auto 3em;
}
header a {
    text-decoration: none;
}
header .btn {
    margin-top: 1em;
}
header .btnname {
    height: fit-content;
    border: none;
    border-radius: 10px;
    background-color: #282828;
    transition: .15s;
    margin: auto 0;
}
header .btnname p {
    padding: 1em;
    font-family: Spiegel;
    font-weight: 650;
    font-size: 120%;
    color: #A09B8C;
    margin: 0;
}
header .btn hr {
    height: 5px;
    border: none;
    border-radius: 3px;
    background-color: #0AC8B9;
    transition: .15s;
    opacity: 0;
}

/*btn on-hover*/
header .btnname:hover {
    background-color: #5B5A5650;
}
header .btnname:hover ~hr {
    opacity: 1;
}
