/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(Assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(Assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(Assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}
/*hide scrollbar*/
body::-webkit-scrollbar {
    display: none;
}
.ctn {
    position: relative;
    margin: 15vh 2vw;
}
.disclaimer {
    text-align: justify;
    margin-bottom: 10vh;
}
.disclaimer p {
    margin: 5vh 2.5vw;

}
.ctn h2 {
    font-family: BeaufortBold;
    font-weight: bolder;
    font-style: italic;
    font-size: 200%;
    text-transform: uppercase;
}
.ctn p , .ctn a {
    font-family: Spiegel;
    font-size: 125;
}
.refcat {
    margin-left: 2.5vw;
}
.ctn h3 {
    font-family: Beaufort;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}
.ctn a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 1vh 2.5vw;
    width: fit-content;
}
.ctn a:hover {
    color: #C89B3C;
}