/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

body {
    margin: 0;
    padding: 0;
    display: block;
}

header {
    background-image: url(../assets/banner.blurred.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    display: flex;
}
.titlectn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    padding: 2em 0;
    width: 100%;
}
.logo {
    margin-left: 5em;
}
.title {
    font-family: BeaufortBold;
    font-weight: bolder;
    font-size: 250%;
    width: 100%;
    height: fit-content;
    background-color: #ffffff40;
}
.title h1 {
    -webkit-text-stroke: black 1px;
    color: white;
    width: fit-content;
    height: max-content;
    margin-left: .5em;
}