/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}
header {
    position: sticky;
        top: 0;
    z-index: 3;
}
body {
    margin: 0;
    background-color: #282828;
}
.ctn {
    display: flex;
    flex-direction: row;
}
.runeheader {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 5%;
    padding-bottom: 2.5%;
}
.runeheader h2 {
    font-family: Beaufort;
    font-size: 400%;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 2.5%;
}
.runeheader p {
    font-family: Spiegel;
    font-size: 200%;
    margin-left: 2.5%;
}
#precision h2 {
    color: rgb(255, 217, 0);
}
#domination h2 {
    color: rgb(253, 90, 90);
}
#sorcery h2 {
    color: rgb(101, 43, 226);
}
#resolve h2 {
    color: rgb(71, 255, 71);
}
#inspiration h2 {
    color: rgb(67, 248, 254)
}
.runeinfo {
    flex: 30%;
    width: 100%;
}
.runes {
    flex: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.runeinfo h3 {
    font-family: Beaufort;
    font-size: 175%;
    font-style: italic;
    text-transform: uppercase;
}
.runeinfo p {
    font-family: Spiegel;
    font-size: 125%;
}
.runectn, .runectn-show {
    display: block;
    width: 100%;
}
.keystones, .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: first baseline;
    width: 100%;
    background-color: #282828;
}
.row {
    margin: 2.5% 0;
}
.keystone {
    display: flex;
    align-items: center;
    justify-content: center;
}
.keystoneinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 25%;
}
.row img {
    margin: 10% auto;
}
.keystone img {
    width: 7.5em;
}
.shardctn img {
    width: 5em;
}
.sharddesc {
    display: flex;
    align-items: first baseline;
    justify-content: first baseline;
    flex-direction: column;
    width: 100%;
}
.shardinfo {
    flex: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sharddesc h3 {
    color: white;
    font-family: Beaufort;
    font-size: 175%;
    text-transform: uppercase;
    font-style: italic;
    margin: 1% 2.5%;
}
.sharddesc p {
    color: white;
    font-family: Spiegel;
    font-size: 125%;
    text-align: justify;
    margin: auto 2.5%;
}

.runectn-hide {
    display: none;
}