.btnctn {
    scroll-margin-top: 100%;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.btnctn button {
    background-repeat: no-repeat;
    background-size: 3em;
    background-position: center;
    width: 5em;
    height: 5em;
    border: none;
    background-color: transparent;
    transition: all .15s;
}

.btnctn button:hover, .btnctn .button-clicked{
    background-size: 3.5em;
}
.btnctn .button-clicked {
    border-bottom: 3px solid black;
}
