/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
}

h1 {
    font-family: BeaufortBold;
    font-weight: 900;
    font-style: italic;
    font-size: 5rem;
    text-transform: uppercase;
    width: fit-content;
    margin: 5% auto;
}

.catctn {
    position: sticky;
        top: 0;
    background-color: white;
    padding: 1%;
    z-index: 2;
}

.itemctn {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
}
.itemctn hr {
    margin: 0;
}
h3 {
    font-family: BeaufortBold;
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}
.itemcat {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}
.itemctn a {
    flex: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 2%;
    padding-bottom: 2px;
    border-bottom: 4px solid white;
    transition: all .15s ease;
}
.item {
    width: fit-content;
    height: fit-content;
}
.item img {
    width: 5em;
    height: 5em;
    transition: all .15s ease;
}
.itemctn a:hover .item img{
    transform: scale(1.05);
}

.itemctn a:hover {
    border-bottom: 4px solid black;
}