/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #010A13;
}