/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #010A13;
}

.itemctn {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2.5% 0;
    gap: 1%;
}
.iteminfo {
    flex: 48%;
    max-width: 50%;
    padding: 5% 3%;
    background-color: #1E2328;
    border-radius:0 20px 20px 0;
    text-align: justify;
}
.icon {
    display: flex;
    justify-content: center;
    align-content: center;
}
.icon img {
    width: 6em;
    height: 6em;
    margin-bottom: 7.5%;
    border: 1px solid #C89B3C;
}
.description h2 {
    font-family: Beaufort;
    font-weight: bold;
    font-size: 200%;
    font-style: italic;
    text-transform: uppercase;
    color: #C89B3C;
    margin: 5% auto 0;
}
.cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin: 0 auto 5%;
}
.cost img {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
}
.cost p {
    font-family: Spiegel;
    font-size: 125%;
    font-style: italic;
    margin: 0;
}

.description p {
    font-family: Spiegel;
    font-size: 125%;
    color: #A09B8C;
}
.description p span {
    font-weight: bold;
    text-transform: uppercase;
    color: #F0E6D2;

}
.description gold {
    color: #C89B3C;
    font-style: italic;
    font-weight: 700;
}
.stats {
    font-family: Spiegel;
    font-size: 125%;
    color: #A09B8C;
    text-transform: capitalize;
}
.stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin-left: 5%;
}
.stat img {
    width: 1em;
    height: 1em;
}

/*item tree*/
.itemtree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 50px;
    gap: 1%;
    max-width: 50%;
    background-color: #1E2328;
    border-radius:20px 0 0 20px;
}
.itemtree h3 {
    font-family: Beaufort;
    font-style: italic;
    text-transform: uppercase;
    color: #A09B8C;
}
.recipe {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
   width: 100%;
}
.recipeinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.recipe img {
    width: 5em;
    height: 5em;
    border: 1px solid #C8AA6E;
}
.recipe .finalitem {
    width: 5em;
    height: 5em;
    padding: 10px;
    border: 1px solid #C89B3C;
}
.recipe .cost {
    justify-content: center;
}
.recipe .cost img {
    border: none;
    width: 1.5em;
    height: 1.5em;
}
.recipe .cost p {
    font-family: Spiegel;
    font-size: 125%;
    font-style: italic;
    color: #C89B3C;
}