.btnctn {
    scroll-margin-top: 100%;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 50%;
}
.btnctn button {
    background-repeat: no-repeat;
    background-size: 3em;
    background-position: center;
    width: 5em;
    height: 5em;
    border: none;
    background-color: transparent;
    transition: .15s;
}

.btnctn button:hover {
    background-size: 3.5em;
    border-bottom: 2px solid black;
}

.button-clicked {
    background-size: 3.5em;
    border-bottom: 2px solid black;
}