.btns {
    flex: 60%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.btns button {
    background-repeat: no-repeat;
    background-size: 3em;
    background-position: center;
    width: 5em;
    height: 5em;
    border: none;
    background-color: transparent;
    transition: all .15s;
}

.btns button:hover, .btns .button-clicked{
    background-size: 3.5em;
}
.btns .button-clicked {
    border-bottom: 3px solid black;
}
