/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
h1 {
    font-family: BeaufortBold;
    font-weight: 900;
    font-style: italic;
    font-size: 5rem;
    text-transform: uppercase;
    width: fit-content;
    margin: 5% auto;
}
.category {
    width: 100%;
    height: fit-content;
}
h2 {
    font-family: BeaufortBold;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 3% 1%;
}
hr {
    margin: 0 2.5%;
}
.ctn {
    margin: 2%;
    display: flex;
}