/*declare custom fonts*/
@font-face {
    font-family: Beaufort;
    src: url(../../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf)
}
@font-face {
    font-family: BeaufortBold;
    src: url(../../assets/Fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf)
}
@font-face {
    font-family: Spiegel;
    src: url(../../assets/Fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf)
}

.cardctn {
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    width: 100% 100%;
    height: auto;
}

.cardctn a {
    flex: 18%;
    max-width: fit-content;
    height: fit-content;
    text-decoration: none;
    background-color: #282828;
    transition: .15s;
    margin: .5% 0;
}
.card {
    flex-direction: column;
    justify-content: baseline;
    transition: .15s;
}
.card div {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
.card div img{
    max-width: 100%;
    height: 325px;
    object-fit: cover;
    object-position: center; 
    overflow: hidden;
    transform: scale(1.05);
    transition: .3s;
}
.card h3 {
    font-family: BeaufortBold;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    width: fit-content;
    margin-left: 5%;
    color: white;
    transition: .15s;
}

.cardctn a:hover img {
    transform: scale(1.01);
}
.cardctn a:hover h3 {
    transform: translateX(10%);
}
.cardctn a:hover {
    background-color: #0397AB;
}

/*js classes*/
.card-show {
    display: flex;
}
.card-hide {
   display: none;
}
/*adjust the ui based on screen width*/

@media only screen and (max-width: 700px) {
    .cardctn {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 700px)  and (max-width: 900px) {
    .cardctn {
        grid-template-columns: repeat(3, 1fr);
    }
}